*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/config.h
/config.log
/config.status
/config/config.guess
/config/config.h.in
/config/config.rpath
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/configure
/libtool
/m4/*.m4
/minidjvu
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/minidjvu.pot
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/ru.gmo
/po/stamp-po
/stamp-h1
Makefile
Makefile.in
