Source: minidjvu
Section: graphics
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 10),
		dh-exec,
		autopoint,
		pkg-config,
		libtiff-dev
Homepage: http://minidjvu.sourceforge.net/
Vcs-Git: git://anonscm.debian.org/collab-maint/minidjvu.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/minidjvu.git
Standards-Version: 4.0.1

Package: minidjvu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libminidjvu0 (>= ${binary:Version})
Suggests: djview4 | djview3 | djvu-viewer, djvulibre-bin, pdf2djvu
Description: Monochrome DjVu multipage encoder, single page encoder/decoder
 Minidjvu is a multipage DjVu encoder and single page encoder/decoder.
 No colors or grayscale, just black and white.
 In addition to the DjVu format, minidjvu reads and writes
 PBM, Windows BMP, and TIFF.

Package: libminidjvu0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Small DjVu encoder/decoder, shared library
 MiniDjVu shared library, for DjVu format encoding and decoding.

Package: libminidjvu-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libminidjvu0 (= ${binary:Version})
Suggests: minidjvu
Description: Small DjVu encoder/decoder, development files
 MiniDjVu library development files, for DjVu format encoding and
 decoding.
